/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #EDE9D5;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  font-family: 'Raleway', sans-serif;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: #617143;
  text-align: center;
  margin: 50px;
  font-family: 'Questrial', sans-serif;
  font-family: 'Raleway', sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  outline: none;
  border-radius: 20px;
  color:#E7AB9A;
}

input[type="text"]:focus {
  border-bottom-color: #617143;
}

button {
  background-color: #DF7857;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

button:hover {
  background-color: #E7AB9A;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

.done {
  text-decoration: line-through;
  color: #aaa;
}

.delete {
  color: #f44336;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete:hover {
  color: #d33;
}

